* {
    box-sizing: border-box;
}
body {
    margin: 0 60px 0 60px;
    box-sizing: border-box;
}

header {
    display: flex;
    background: white;
    margin: 0;
    position: fixed;
    width: 1229px;
    z-index: 3;
}

#nav1 {
    background: white;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 101.391px;
    margin: 0;
    padding: 25px 0 25px 0;
}

#nav1 a {
    text-decoration: none;
    align-self: center;
    margin: 0 40px 0 40px;
    color: #1A1A1A;
}

.logo {
    width: 200px;
    height: 69px;
    margin: 14px 0 14px 0;
    
}

#img_hb {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

#img_hb img {
    width: 100%;
    margin-top: 70px;
}

.index-text1 {
    width: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
}

.index-text1_1 {
    background: #ecd9db;
    margin: 15px 20px 10px 0px;
    color: #1A1A1A;
}

.index-text1_1 h1 {
    text-align: center;
    font-size: 40px;
    margin: 55px 35px 0 35px;
}

.index-text1_1 p {
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    padding: 27px;
}

.index-text1_2 {
    margin: 15px 0 10px 0;
    
}

.index-text1_2 img {
    width: 410px;
    height: 400px;
    justify-self: stretch;
}

.index-text2 {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

    /* imagen 1*/
.index-text2_1 {
    display: grid;
    grid-template-rows: 51% 49%;
    height: 643px;
    width: 409.25px;
} 

.index-text2_1 img {
    width: 390px;
    height: 590px;
    grid-column: 1/2;
    grid-row: 1/3;
    place-self: center;
    justify-self: start;
    z-index: 1;
    border: 20px solid #ecd9db;
}

.index-text2_1 a {
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 2;
    place-self: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.603);
    padding: 20px;
    border: 2px solid #1A1A1A;
    color: #1A1A1A;
    border-radius: 5px;
}

.index-text2_1 a:hover {
    background: #1a1a1ab9;
    border: 2px solid #ecd9db ;
    color: #ecd9db ;
}

/*imagen 2*/
.index-text2_2 {
    display: grid;
    grid-template-rows: 51% 49%;
    height: 643px;
    width: 409.25px;
} 

.index-text2_2 img {
    width: 390px;
    height: 590px;
    grid-column: 1/2;
    grid-row: 1/3;
    place-self: center;
    z-index: 1;
    border: 20px solid #ecd9db;
}

.index-text2_2 a {
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 2;
    place-self: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.603);
    padding: 20px;
    border: 2px solid #1A1A1A;
    color: #1A1A1A;
    border-radius: 5px;
}

.index-text2_2 a:hover {
    background: #1a1a1ab9;
    border: 2px solid #ecd9db ;
    color: #ecd9db ;
}

/*imagen 3*/
.index-text2_3 {
    display: grid;
    grid-template-rows: 51% 49%;
    height: 643px;
    width: 409.25px;
} 

.index-text2_3 img {
    width: 390px;
    height: 590px;
    grid-column: 1/2;
    grid-row: 1/3;
    place-self: center;
    z-index: 1;
    border: 20px solid #ecd9db;
}

.index-text2_3 a {
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 2;
    place-self: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.603);
    padding: 20px;
    border: 2px solid #1A1A1A;
    color: #1A1A1A;
    border-radius: 5px;
}

.index-text2_3 a:hover {
    background: #1a1a1ab9;
    border: 2px solid #ecd9db ;
    color: #ecd9db ;
}

/*-- Meet some of my works --*/

.index-text3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 500px 500px 500px;
    background: #ecd9db;
    margin-bottom: 50px;
}

.index-text3 h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: white;
    text-align: center;
    justify-self: center;
    height: 37px;
    width: 380px;
    margin-top: 30px;
}

.index-text3 img {
    width: 350px;
    height: 380px;
}

    /*-- Imagen 1 --*/
.index-text3_img1 {
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: center;
    margin-bottom: 40px;
    border: 20px solid white;
    transition: .8s;
}

.index-text3_img1:hover {
    transform: scale(1.15);
    transition: .8s;
}

.index-text3_p1 {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: end;
    text-align: center;
    margin-bottom: 10px;
    background: white;
    width: 200px; 
    padding: 10px;
    justify-self: center;
}

/*-- Imagen 2 --*/
.index-text3_img2 {
    grid-column: 2/3;
    grid-row: 2/3;
    place-self: center;
    margin-bottom: 40px;
    border: 20px solid white;
    transition: .8s;
}

.index-text3_img2:hover {
    transform: scale(1.15);
    transition: .8s;
}

.index-text3_p2 {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
    text-align: center;
    margin-bottom: 10px;
    background: white;
    width: 200px; 
    padding: 10px;
    justify-self: center;
}

/*-- Imagen 3 --*/
.index-text3_img3 {
    grid-column: 1/2;
    grid-row: 3/4;
    place-self: center;
    margin-bottom: 40px;
    border: 20px solid white;
    transition: .8s;
}

.index-text3_img3:hover {
    transform: scale(1.15);
    transition: .8s;
}

.index-text3_p3 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: end;
    text-align: center;
    margin-bottom: 10px;
    background: white;
    width: 200px; 
    padding: 10px;
    justify-self: center;
}

/*-- Imagen 4 --*/
.index-text3_img4 {
    grid-column: 2/3;
    grid-row: 3/4;
    place-self: center;
    margin-bottom: 40px;
    border: 20px solid white;
    transition: .8s;
}

.index-text3_img4:hover {
    transform: scale(1.15);
    transition: .8s;
}

.index-text3_p4 {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: end;
    text-align: center;
    margin-bottom: 10px;
    background: white;
    width: 200px; 
    padding: 10px;
    justify-self: center;
}

/*-- Imagen 5 --*/
.index-text3_img5 {
    grid-column: 1/3;
    grid-row: 4/5;
    place-self: center;
    margin-bottom: 10px;
    border: 20px solid white;
    transition: .8s;
}

.index-text3_img5:hover {
    transform: scale(1.15);
    transition: .8s;
}

.index-text3_p5 {
    grid-column: 1/3;
    grid-row: 4/5;
    align-self: end;
    text-align: center;
    margin-bottom: 10px;
    background: white;
    width: 200px; 
    padding: 10px;
    justify-self: center;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    width: 100%;
    background: rgb(61, 46, 48);
    color: white;
}

footer p a {
    text-decoration: none;
    color: white;
}


/*------------- ABOUT ME STYLE -------------*/

#aboutme-main {
    background: rgba(247,235,237,255);
    margin-bottom: 0;
}

.aboutme-p2 {
    background: white;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}




/*---------- MAKE YOUR ODER STYLE ----------*/

.main-makeyourorder {
    background: rgba(247,235,237,255);
}

.dropbtn {
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(236, 211, 225);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 grba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(221, 221, 221, 0);
    color: white;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e4100;}